@model OilCategoryViewModel

<h1>@Model.CategoryName.Replace("_", " ")</h1>

@foreach (var oil in Model.Oils)
{
    <div>
        <h2>@oil.Title</h2>
        <p>@oil.Description</p>
        <p>Price: @oil.Price</p>
        <a href="@Url.Action("Details", "Oil", new { id = oil.Id })">View Details</a>
    </div>
}