@model List<ProductIndexViewModel>

<head>
    <link rel="stylesheet" href="~/css/product-index.css" asp-append-version="true" />
</head>

<div class="type-list">
    @foreach (var type in Model)
    {
        <div class="type-item">
            <a href="@Url.Action("Category", "Oil", new { type = type.ProductType })">
                <div class="type-image">
                    <img src="@GetImageUrlForCategory(type.ProductType)" alt="@type.ProductType.Replace("_", " ")" />
                </div>
                <div class="type-title">
                    <span>@type.ProductType.Replace("_", " ")</span>
                </div>
            </a>
        </div>
    }
</div>

<hr />

<p>Shop By Brands</p>

<div class="brands-list">
    @foreach (var brand in Model.SelectMany(c => c.Brands).Distinct())
    {
        <div class="brand-item">
            <a href="@Url.Action("Brand", "Oil", new { brandName = brand.Name })">
                <div class="brand-image">
                    <img src="@brand.ImageUrl" alt="@brand.Name" />
                </div>
            </a>
        </div>
    }
</div>

@{
    string GetImageUrlForCategory(string typeName)
    {
        switch (typeName)
        {
            case "Four_Stroke":
                return "https://i.ibb.co/56sGHHC/Oil-Motul-300-V-1-L.jpg";
            case "Two_Stroke":
                return "https://i.ibb.co/k58PBnC/Oil-Cross-Power-2-T.jpg";
            case "Transmission":
                return "https://i.ibb.co/zntBCFg/Oil-Transmission-Motul.jpg";
            case "Suspension":
                return "https://i.ibb.co/xH81L67/Oil-Bel-Ray-Fork-5-W.jpg";
            case "Coolant":
                return "https://i.ibb.co/DRWKczb/Oil-Motul-Antifreeze.jpg";
            default:
                return "";
        }
    }
}
