@model List<MotorcyclePart>

@{
    ViewData["Title"] = "Compatible Parts";
}

<h2>Compatible Parts</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Part</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <!-- Add props -->
            </tr>
        </thead>
        <tbody>
            @foreach (var part in Model)
            {
                <tr>
                    <td><img src="@part.Part.Brand.ImageUrl" style="width: 80px; height: 80px; border: 1px solid black;" /></td>
                    <td>@part.Part.Brand.Name - @part.Part.Title</td>
                    <td>@part.Part.Description</td>
                    <td>@part.Part.Price</td>
                    <td>@part.Part.Type.ToString()</td>
                    <!-- Add props -->
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No compatible parts found.</p>
}
