@model MotoSelectionViewModel

<head>
    <link rel="stylesheet" href="~/css/home-index.css" />
</head>

<div class="container">
    <h2>Find Parts For Your Motorcycle!</h2>
    <div class="selector-container">
        <div class="form-group" style="display: inline-block; margin-right: 10px;">
            <select asp-for="SelectedMake" class="form-control select-field" id="makeDropdown">
                <option value="">Make</option>
                @foreach (var make in Model.Makes)
                {
                    <option value="@make.Value">@make.Text</option>
                }
            </select>
        </div>
        <div class="form-group" style="display: inline-block; margin-right: 10px;">
            <select asp-for="SelectedModel" class="form-control select-field" id="modelDropdown">
                <option value="">Model</option>
            </select>
        </div>
        <div class="form-group" style="display: inline-block; margin-right: 10px;">
            <select asp-for="SelectedDisplacement" class="form-control select-field" id="displacementDropdown">
                <option value="">Displacement</option>
            </select>
        </div>
        <div class="form-group" style="display: inline-block; margin-right: 10px;">
            <select asp-for="SelectedYear" class="form-control select-field" id="yearDropdown">
                <option value="">Year</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <button id="submitButton" class="btn btn-primary">Find Parts</button>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#modelDropdown').prop('disabled', true);
            $('#displacementDropdown').prop('disabled', true);
            $('#yearDropdown').prop('disabled', true);
            $('#submitButton').prop('disabled', true);

            $('#makeDropdown').change(function () {
                var selectedMake = $(this).val();
                var modelDropdown = $('#modelDropdown');
                modelDropdown.empty();
                modelDropdown.append($('<option></option>').attr('value', '').text('Model'));

                var displacementDropdown = $('#displacementDropdown');
                displacementDropdown.empty();
                displacementDropdown.append($('<option></option>').attr('value', '').text('Displacement'));

                var yearDropdown = $('#yearDropdown');
                yearDropdown.empty();
                yearDropdown.append($('<option></option>').attr('value', '').text('Year'));

                $.getJSON('@Url.Action("GetModel", "Used")', { makeId: selectedMake }, function (models) {
                    $.each(models, function (index, model) {
                        modelDropdown.append($('<option></option>').attr('value', model.value).text(model.text));
                    });
                });

                modelDropdown.prop('disabled', false);
                modelDropdown.removeClass('dimmed').addClass('undimmed');
            });

            $('#modelDropdown').change(function () {
                var selectedMake = $('#makeDropdown').val();
                var selectedModel = $(this).val();
                var displacementDropdown = $('#displacementDropdown');
                displacementDropdown.empty();
                displacementDropdown.append($('<option></option>').attr('value', '').text('Displacement'));

                $.getJSON('@Url.Action("GetDisplacement", "Used")', { makeId: selectedMake, modelId: selectedModel }, function (displacements) {
                    $.each(displacements, function (index, displacement) {
                        displacementDropdown.append($('<option></option>').attr('value', displacement.value).text(displacement.text));
                    });
                });

                displacementDropdown.prop('disabled', false);
                displacementDropdown.removeClass('dimmed').addClass('undimmed');
            });

            $('#displacementDropdown').change(function () {
                var selectedMake = $('#makeDropdown').val();
                var selectedModel = $('#modelDropdown').val();
                var selectedDisplacement = $(this).val();
                var yearDropdown = $('#yearDropdown');
                yearDropdown.empty();
                yearDropdown.append($('<option></option>').attr('value', '').text('Year'));

                $.getJSON('@Url.Action("GetYear", "Used")', { makeId: selectedMake, modelId: selectedModel, displacementId: selectedDisplacement }, function (years) {
                    $.each(years, function (index, year) {
                        yearDropdown.append($('<option></option>').attr('value', year.value).text(year.text));
                    });
                });

                yearDropdown.prop('disabled', false);
                yearDropdown.removeClass('dimmed').addClass('undimmed');
            });

            $('#yearDropdown').change(function () {
                $('#submitButton').prop('disabled', false);
            });

            $('#submitButton').click(function () {
                var selectedMake = $('#makeDropdown').val();
                var selectedModel = $('#modelDropdown').val();
                var selectedDisplacement = $('#displacementDropdown').val();
                var selectedYear = $('#yearDropdown').val();

                window.location.href = '@Url.Action("CompatibleParts", "Part")'
                    + '?makeId=' + selectedMake
                    + '&modelId=' + selectedModel
                    + '&displacementId=' + selectedDisplacement
                    + '&yearId=' + selectedYear;
            });
        });
    </script>
}