@using DirtX.Models

@model PartBrandViewModel

<div>
    <h4>@Model.Name</h4>
    <h4>@Model.Description</h4>
    <div class="brand-image">
        <img src="@Model.ImageUrl" alt="@Model.Name" />
    </div>
</div>

<h1>Parts from this manufacturer:</h1>

@foreach (var part in Model.Parts)
{
    <div>
        <h2>@part.Title</h2>
        <p>@part.Description</p>
        <p>Price: @part.Price</p>
        <a href="@Url.Action("Details", "Part", new { id = part.Id })">View Details</a>
    </div>
}