@using DirtX.Models

@model PartBrandViewModel

<style>
    .brand-container {
        display: flex;
        align-items: flex-start;
    }

    .brand-image {
        border: 1px solid #ccc;
        width: 150px;
        height: 150px;
        margin-right: 20px;
    }

    .brand-details {
        flex: 1;
    }

    .parts-container {
        display: flex;
        flex-wrap: wrap;
    }

    .part {
        width: calc(33.33% - 20px);
        margin-right: 20px;
        margin-bottom: 20px;
    }
</style>

<div class="brand-container">
    <div class="brand-image">
        <img src="@Model.ImageUrl" alt="@Model.Name" style="width: 100%; height: 100%;" />
    </div>
    <div class="brand-details">
        <h4>@Model.Name</h4>
        <p>@Model.Description</p>
    </div>
</div>

<hr />

@*TODO - SECTIONS?*@

<h1>Parts from this manufacturer:</h1>

<div class="parts-container">
    @foreach (var part in Model.Parts)
    {
        <div class="part">
            <h2>@part.Title</h2>
            <p>@part.Description</p>
            <p>Price: @part.Price</p>
            <a href="@Url.Action("Details", "Part", new { id = part.Id })">View Details</a>
        </div>
    }
</div>