@model List<ProductIndexViewModel>

<head>
    <link rel="stylesheet" href="~/css/product-index.css" asp-append-version="true" />
</head>

<div class="category-list">
    @foreach (var category in Model)
    {
        <div class="category-item">
            <a href="@Url.Action("Category", "Part", new { type = category.CategoryName })">
                <div class="category-image">
                    <img src="@GetImageUrlForCategory(category.CategoryName)" alt="@category.CategoryName.Replace("_", " ")" />
                </div>
                <div class="category-title">
                    <span>@category.CategoryName.Replace("_", " ")</span>
                </div>
            </a>
        </div>
    }
</div>

<hr />

<p>Shop By Brands</p>

<div class="brands-list">
    @foreach (var brand in Model.SelectMany(c => c.Brands).Distinct())
    {
        <div class="brand-item">
            <a href="@Url.Action("Brand", "Part", new { brandName = brand.Name })">
                <div class="brand-image">
                    <img src="@brand.ImageUrl" alt="@brand.Name" />
                </div>
            </a>
        </div>
    }
</div>

@{
    string GetImageUrlForCategory(string categoryName)
    {
        switch (categoryName)
        {
            case "Engine":
                return "https://i.ibb.co/jWNQWk2/engine.jpg";
            case "Brake":
                return "https://i.ibb.co/Lpnz4qR/Brakes.jpg";
            case "Suspension":
                return "https://i.ibb.co/CsC1t3w/Suspension.jpg";
            case "Filter":
                return "https://i.ibb.co/jh1vrCq/filters.png";
            case "Drivetrain":
                return "https://i.ibb.co/cCs6tQt/chain.jpg";
            default:
                return "";
        }
    }
}