@model UsedMotoViewModel

<body>
        <h1>@Model.Make @Model.Displacement @Model.Model (@Model.Year)</h1>

        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" alt="Motorcycle Image" />

        <div>
            <p><strong>Location:</strong> @Model.Province.Replace("_", " ")</p>
            <p><strong>Price:</strong> @Model.Price BGN</p>
        </div>

        <div>
            <h3>Description</h3>
            <p>@Model.Description</p>
        </div>

        <div>
            <h3>Contact Information</h3>
            <p>@Model.Contact</p>
        </div>
</body>

<style>
    body {
        margin: 0;
        padding: 0;
        background-color: white;
        color: dimgray;
    }

    .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    h1, h2 {
        color: dimgray;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-bottom: 20px;
    }

    p {
        margin: 0 0 10px;
    }
</style>