@model List<UsedMotoViewModel>

<div style="background-image: url('https://i.ibb.co/sQ1Z1yR/Used-Moto-Banner.jpg'); background-size: cover; border: 1px solid black; background-position: center top; padding: 20px; margin-bottom: 20px; display: flex; justify-content: space-between; align-items: center;">
    <div>

    </div>
    <a href="@Url.Action("Sell", "Used")" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; font-size: 20px; font-weight: bold; border-radius: 5px;">Sell Now</a>
</div>

<h1>Used Motorcycles</h1>

<div style="display: flex; flex-wrap: wrap;">
    @foreach (var motorcycle in Model)
    {
        <div style="border: 1px solid black; padding: 10px; margin: 10px; width: calc(33.33% - 20px);">
            <div style="position: relative; width: 100%; padding-top: 75%; /* 4:3 Aspect Ratio */ overflow: hidden; border: 1px solid black;">
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(motorcycle.Image)" alt="Motorcycle Image" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;" />
            </div>
            <div>
                <div style="font-weight: bold;">
                    @motorcycle.Make @motorcycle.Model (@motorcycle.Year)
                </div>
                <div>
                    Displacement: @motorcycle.Displacement
                </div>
                <div>
                    Location: @motorcycle.Province.Replace("_", " ")
                </div>
                <div style="margin-top: 10px;">
                    <span style="font-weight: bold;">Price:</span> @motorcycle.Price BGN
                </div>
                <div style="margin-top: 10px;">
                    <a href="@Url.Action("Details", "Used", new { id = motorcycle.Id })" style="font-weight: bold;">More Information</a>
                </div>
            </div>
        </div>
    }
</div>