@model SellFormViewModel

<h1>Sell Your Motorcycle</h1>
<form asp-action="Sell" asp-controller="Used" method="post" enctype="multipart/form-data">
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <label for="makeDropdown">Make:</label>
            <select asp-for="SelectedMake" class="form-control" id="makeDropdown">
                <option value="">Make</option>
                @foreach (var make in Model.Makes)
                {
                    <option value="@make.Value">@make.Text</option>
                }
            </select>
            <span asp-validation-for="SelectedMake" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label for="modelDropdown">Model:</label>
            <select asp-for="SelectedModel" class="form-control" id="modelDropdown">
                <option value="">Model</option>
            </select>
            <span asp-validation-for="SelectedModel" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label for="displacementDropdown">Displacement:</label>
            <select asp-for="SelectedDisplacement" class="form-control" id="displacementDropdown">
                <option value="">Displacement</option>
            </select>
            <span asp-validation-for="SelectedDisplacement" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label for="yearDropdown">Year:</label>
            <select asp-for="SelectedYear" class="form-control" id="yearDropdown">
                <option value="">Year</option>
            </select>
            <span asp-validation-for="SelectedYear" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <label for="provinceDropdown">Province:</label>
            <select asp-for="Province" class="form-control" id="dropdown">
                <option value="">Province</option>
                @foreach (var province in Enum.GetValues(typeof(Province)))
                {
                    <option value="@province">@province.ToString().Replace("_", " ")</option>
                }
            </select>
            <span asp-validation-for="Province" class="text-danger"></span>
        </div>
        <div class="col-md-3">
                <div class="form-group">
                    <label for="priceInput">Price:</label>
                    <input asp-for="Price" class="form-control" value="" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
        </div>
        <div class="col-md-3">
                <div class="form-group">
                    <label for="contactInput">Contact:</label>
                    <input asp-for="Contact" class="form-control" id="contactInput">
                    <span asp-validation-for="Contact" class="text-danger"></span>
                </div>
        </div>
        <div class="col-md-3">
                <div class="form-group">
                    <label for="imageInput">Image:</label>
                    <input type="file" name="ImageFile" class="form-control-file" id="imageInput" accept="image/*">
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                    <span id="imageSizeError" class="text-danger" style="display: none;">The file size must not exceed 1MB.</span>
                </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
            <div class="form-group">
                <label for="descriptionInput">Description:</label>
                <textarea asp-for="Description" class="form-control" id="descriptionInput"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>

<style>
    .form-control {
        box-sizing: border-box;
    }

    #dropdown {
        background-image: url('https://i.ibb.co/pXFZPR7/drop-down-arrow-4.png');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 20px;
    }

    .form-control:focus {
        border-color: darkorange;
        box-shadow: blue;
    }

    .container {
        margin-top: 3px;
        margin-bottom: 20px;
    }

    .btn-primary {
        margin-top: 20px;
        background-color: darkblue;
        border-color: white;
        color: white;
        font-weight: bold;
    }

    .btn-primary:hover {
        background-color: darkorange;
        border-color: black;
        color: black;
        font-weight: bold;
        transition: background-color 0.3s;
    }
</style>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#modelDropdown').prop('disabled', true);
            $('#displacementDropdown').prop('disabled', true);
            $('#yearDropdown').prop('disabled', true);
            $('#submitButton').prop('disabled', true);

            $('#makeDropdown').change(function () {
                var selectedMake = $(this).val();
                var modelDropdown = $('#modelDropdown');
                modelDropdown.empty();
                modelDropdown.append($('<option></option>').attr('value', '').text('Model'));

                var displacementDropdown = $('#displacementDropdown');
                displacementDropdown.empty();
                displacementDropdown.append($('<option></option>').attr('value', '').text('Displacement'));

                var yearDropdown = $('#yearDropdown');
                yearDropdown.empty();
                yearDropdown.append($('<option></option>').attr('value', '').text('Year'));

                $.getJSON('@Url.Action("GetMotorcycle", "Used")', { make: selectedMake }, function (models) {
                    $.each(models, function (index, model) {
                        modelDropdown.append($('<option></option>').attr('value', model.value).text(model.text));
                    });
                });

                modelDropdown.prop('disabled', false);
                modelDropdown.removeClass('dimmed').addClass('undimmed');
            });

            $('#modelDropdown').change(function () {
                var selectedMake = $('#makeDropdown').val();
                var selectedModel = $(this).val();
                var displacementDropdown = $('#displacementDropdown');
                displacementDropdown.empty();
                displacementDropdown.append($('<option></option>').attr('value', '').text('Displacement'));

                $.getJSON('@Url.Action("GetDisplacement", "Used")', { make: selectedMake, model: selectedModel }, function (displacements) {
                    $.each(displacements, function (index, displacement) {
                        displacementDropdown.append($('<option></option>').attr('value', displacement.value).text(displacement.text));
                    });
                });

                displacementDropdown.prop('disabled', false);
                displacementDropdown.removeClass('dimmed').addClass('undimmed');
            });

            $('#displacementDropdown').change(function () {
                var selectedMake = $('#makeDropdown').val();
                var selectedModel = $('#modelDropdown').val();
                var selectedDisplacement = $(this).val();
                var yearDropdown = $('#yearDropdown');
                yearDropdown.empty();
                yearDropdown.append($('<option></option>').attr('value', '').text('Year'));

                $.getJSON('@Url.Action("GetYear", "Used")', { make: selectedMake, model: selectedModel, displacement: selectedDisplacement }, function (years) {
                    $.each(years, function (index, year) {
                        yearDropdown.append($('<option></option>').attr('value', year.value).text(year.text));
                    });
                });

                yearDropdown.prop('disabled', false);
                yearDropdown.removeClass('dimmed').addClass('undimmed');
            });

            $('#yearDropdown').change(function () {
                $('#submitButton').prop('disabled', false);
            });
        });

        document.getElementById('imageInput').addEventListener('change', function () {
            var fileSize = this.files[0].size;
            var maxSize = 1048576; 

            if (fileSize > maxSize) {
                document.getElementById('imageSizeError').style.display = 'block';
                this.value = '';
            } else {
                document.getElementById('imageSizeError').style.display = 'none';
            }
        });
    </script>
}