@using DirtX.Core.Models
@model List<UserViewModel>

@if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<form method="get">
    <partial name="_AdministrationPartial" />
</form>

<h2>All Users</h2>
<table class="table">
    <thead>
        <tr>
            <th>Email:</th>
            <th>Created On:</th>
            <th>Promote/Demote:</th>
            <th>Delete User</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.CreatedOn</td>
                <td>
                    <form method="post" asp-area="Admin" asp-controller="User" asp-action="ToggleAdmin">
                            @if (user.IsAdmin)
                            {
                                <input type="hidden" name="userId" value="@user.Id" />
                                <button type="submit" class="btn btn-danger">
                                <span>Demote</span>
                                </button>
                            }
                            else
                            {
                                <input type="hidden" name="userId" value="@user.Id" />
                                <button type="submit" class="btn btn-primary">
                                <span>Promote</span>
                                </button>
                            }
                    </form>
                </td>
                <td>
                    <form method="post" asp-area="Admin" asp-controller="User" asp-action="Delete">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.TotalCount > 12)
{
    var pageCount = (int)Math.Ceiling((double)ViewBag.TotalCount / 12);
    var currentPage = ViewBag.Page != null ? (int)ViewBag.Page : 1;

    <nav aria-label="User navigation">
        <ul class="pagination">
            @for (var i = 1; i <= pageCount; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link" href="?page=@i">@i</a>
                </li>
            }
        </ul>
    </nav>
}
