@model List<ProductIndexViewModel>

<head>
    <link rel="stylesheet" href="~/css/product-index.css" asp-append-version="true" />
</head>

<div class="category-list">
    @foreach (var category in Model)
    {
        <div class="category-item">
            <a href="@Url.Action("Category", "Gear", new { category = category.ProductCategory })">
                <div class="category-image">
                    <img src="@GetImageUrlForCategory(category.ProductCategory)" alt="@category.ProductCategory.Replace("_", " ")" />
                </div>
                <div class="category-title">
                    <span>@category.ProductCategory.Replace("_", " ")</span>
                </div>
            </a>
        </div>
    }
</div>

<hr />

<p>Shop By Brands</p>

<div class="brands-list">
    @foreach (var brand in Model.SelectMany(c => c.Brands).Distinct())
    {
        <div class="brand-item">
            <a href="@Url.Action("Brand", "Gear", new { brandName = brand.Name })">
                <div class="brand-image">
                    <img src="@brand.ImageUrl" alt="@brand.Name" />
                </div>
            </a>
        </div>
    }
</div>

@{
    string GetImageUrlForCategory(string categoryName)
    {
        switch (categoryName)
        {
            case "Helmet":
                return "https://i.ibb.co/pyjR9Dh/Gear-SM5-Helmet.jpg";
            case "Protective_Gear":
                return "https://i.ibb.co/3fW6GMp/Gear-Bionic-Action.jpg";
            case "Outfit":
                return "https://i.ibb.co/7QRGQvn/Gear-Thor-Outfit.jpg";
            case "Boots":
                return "https://i.ibb.co/pzGDVTv/Gear-Tech10-Boots.jpg";
            case "Accessory":
                return "https://i.ibb.co/Vm5NZBG/Gear-B20-Goggles.jpg";
            default:
                return "";
        }
    }
}