@model ProductBrandViewModel

<div class="products-container">
    @foreach (var product in Model.Products)
    {
        <div class="product">
            <div class="image-container">
                <img src="@product.ImageUrl" alt="@product.Title" class="product-image">
            </div>
            <div class="product-details">
                <h2>@product.Title</h2>
                <p>@product.Description</p>
                <p class="price">Price: @product.Price BGN</p>

                @if (product.TypeId == 1)
                {
                    <a href="@Url.Action("Details", "Part", new { id = product.Id })">View Details</a>
                }
                else if (product.TypeId == 2)
                {
                    <a href="@Url.Action("Details", "Oil", new { id = product.Id })">View Details</a>
                }
                else if (product.TypeId == 3)
                {
                    <a href="@Url.Action("Details", "Gear", new { id = product.Id })">View Details</a>
                }
            </div>
        </div>
    }
</div>
