@model ProductDetailsViewModel

@{
    bool isAuthenticated = User.Identity.IsAuthenticated;
}

<div class="custom-container">
    <h3 class="custom-heading">PRODUCT'S DETAILS</h3>
    <div class="product-details">
        <div class="image-container">
            <img src="@Model.ImageUrl" alt="Product Image" class="custom-img" />
        </div>
        <div class="details-container">
            <div class="brand-title-container">
                <h4 class="custom-title">@Model.BrandName - @Model.Title</h4>
            </div>
            <div class="description-container">
                <p class="custom-title">@Model.Description</p>
            </div>
            @if (Model.Specs.Any())
            {
                <div class="custom-specs">
                    <h4 class="custom-title">Specifications:</h4>
                    @foreach (var spec in Model.Specs)
                    {
                        <div class="custom-spec">
                            <p><strong>@spec.Specification.Title:</strong> @spec.Specification.Value</p>
                        </div>
                    }
                </div>
            }
            @if (@Model.StockQuantity > 0)
            {
                @if (isAuthenticated)
                {
                    <form asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id" method="post" class="mb-2">
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </form>
                }
                else
                {
                    <form action="@Url.Action("Login", "User")" method="get" class="mb-2">
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                        <input type="hidden" name="productId" value="@Model.Id" />
                    </form>
                }
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    Product is Out of Stock!
                </div>
            }
            <div class="price-container">
                <div class="custom-price">
                    Price: @Model.Price BGN
                </div>
            </div>
        </div>
    </div>
</div>